@use '../utils/' as u;

  @include u.breakpoints(mobile){
    .section_1{
      height: 500px;
      .introduction{
        margin-top: 30%;
      }
    }
  }
  @media screen and (max-width:550px){
    .section_1{
      .introduction{
        padding: 10%;
      }
    }
  }
  @media screen and (max-width:374px){
    .section_1{
      .introduction{
        div{
          display: grid;
          a{
            margin-bottom: 8px;
          }
        }
      }
    }
  }